<!DOCTYPE html>
<!-- TEST TEST TEST TEST -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>

    <script th:src="@{/js/cookie-util.js}"></script>
    <script th:src="@{/js/app-config.js}"></script>
    <script th:src="@{/js/api-handler.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/portone-sdk.js}"></script>
</head>
<body>
    <div style="margin-top:3px">
        <label>fullName <input type="text" id="fullName"></label>
    </div>
    <div style="margin-top:3px">
        <label>phoneNumber  <input type="text" id="phoneNumber"></label>
    </div>
    <div style="margin-top:3px">
        <label>email  <input type="text" id="email"></label>
    </div>

    <div style="margin-top:3px">
        <button id="결제버튼">결제하기</button>
    </div>
<script>
    // ===========================
    // 결제
    // ===========================

    let jwt = getToken();

    // 결제 버튼을 가져옵니다.
    let button = document.getElementById('결제버튼');

    // 여러분이 결제 버튼을 누릅니다
    button.onclick = async () => {
        let orderBody = {}
        // 주문 하기
        {
            let orderRes = await fetch("http://localhost:8080/api/orders", {
                method : "POST",
                headers: {
                    'Content-Type' : 'application/json',
                    'Authorization' : `Bearer ${jwt}`
                },
                body: JSON.stringify({
                    orderProducts : [
                        {
                            productId : 1,
                            quantity: 2
                        },
                        {
                            productId : 4,
                            quantity: 2
                        }
                    ]
                })
            })

            orderBody = await orderRes.json();
            console.log(orderBody)
        }

        let orderId = orderBody.data.order.orderId;
        let totalPrice = orderBody.data.order.totalPrice;
        let orderNumber = orderBody.data.order.orderNumber

        console.log(orderId);
        console.log(totalPrice);

        let payAttemptBody = {}

        // 결제 시도하기
        {
            let payAttempt = await fetch("http://localhost:8080/api/payments/attempt", {
                method : "POST",
                headers: {
                    'Content-Type' : 'application/json',
                    'Authorization' : `Bearer ${jwt}`
                },
                body: JSON.stringify({
                    orderId : orderId,
                    totalPrice : totalPrice
                })
            })

            payAttemptBody = await payAttempt.json()
            console.log(payAttemptBody)
        }

        let paymentId = payAttemptBody.data.paymentId

        const config = await getConfig();

        console.log(config);

        let channelKey = config.portone.channelKeys["kg-inicis"]
        let storeId = config.portone.storeId;

        let fullName = document.getElementById('fullName').value;
        let phoneNumber = document.getElementById('phoneNumber').value;
        let email = document.getElementById('email').value;

        // portone 결제 창 띄우기
        {
            // 포트원한테 결제하고 싶다고 알려줍니다.
            let res = await PortOne.requestPayment({
                storeId : storeId,
                paymentId : paymentId,
                orderName : orderNumber,
                totalAmount : totalPrice,
                currency: "KRW",
                payMethod: "CARD",
                channelKey : channelKey,
                customer :  {
                    fullName: fullName,
                    phoneNumber: phoneNumber,
                    email: email,
                }
            });

            /*
            {
                "paymentId": "ORDER_PAYMENT-1-1770735369354",
                "transactionType": "PAYMENT",
                "txId": "019c480d-7ea4-c169-849e-e430ef942c08"
            }
            */

            console.log(res);
        }
    }
</script>
</body>
</html>
